In [3]:
#importing data from google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
#importing required libraries
import numpy as np
import pandas as pd

In [5]:
#reading the dataset using pandas
df= pd.read_csv('/content/drive/MyDrive/ei_test_cgpa_trimmeduse - Copy.csv')

In [6]:
#1st 5 rows of the data set
df.head()

,Confidence,Anxiety,Self Esteem,Calmness,Self Control,Self Efficacy,Happiness,Emotional Intelligence,CGPA,ATTEMPT,Satisfaction with placement,Placement,DV
0,5,4,5,6,4,6,5,4,7.60,2,4,1,yes
1,4,4,4,5,5,5,4,4,7.35,2,5,1,yes
2,4,4,4,4,4,3,4,3,6.30,2,3,1,yes
3,5,4,5,5,5,4,4,4,8.50,2,4,1,yes
4,3,3,3,4,4,6,3,3,8.60,6,5,1,yes

In [8]:
df.drop(['DV'],axis=1,inplace=True)
df.head()

,Confidence,Anxiety,Self Esteem,Calmness,Self Control,Self Efficacy,Happiness,Emotional Intelligence,CGPA,ATTEMPT,Satisfaction with placement,Placement
0,5,4,5,6,4,6,5,4,7.60,2,4,1
1,4,4,4,5,5,5,4,4,7.35,2,5,1
2,4,4,4,4,4,3,4,3,6.30,2,3,1
3,5,4,5,5,5,4,4,4,8.50,2,4,1
4,3,3,3,4,4,6,3,3,8.60,6,5,1

In [9]:
x = df.iloc[:,0:8]

In [10]:
x.head()

,Confidence,Anxiety,Self Esteem,Calmness,Self Control,Self Efficacy,Happiness,Emotional Intelligence
0,5,4,5,6,4,6,5,4
1,4,4,4,5,5,5,4,4
2,4,4,4,4,4,3,4,3
3,5,4,5,5,5,4,4,4
4,3,3,3,4,4,6,3,3

In [11]:
y = df[['Placement']]

In [12]:
y.head()

   Placement
0          1
1          1
2          1
3          1
4          1

In [13]:
#splitting the dataset into training and testing
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=99)

In [14]:
#importing randomforest classifier
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=100,criterion="gini",max_depth=10,min_samples_split=5,random_state=99)

In [27]:
rf.fit(x_train,y_train)

RandomForestClassifier(max_depth=10, min_samples_split=5, random_state=99)

In [28]:
x_new  = [[4,4,5,5,4,4,4,4]]
y_new = rf.predict(x_new)

In [29]:
y_new

array([1])